.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.info {
	display: grid;
	gap: 10px;
	grid-template-columns: 42px auto;
}

.img {
	width: 42px;
	height: 42px;
	object-fit: contain;
}

.title {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.price {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
}

.controls {
	display: flex;
	gap: 4px;
}

.btn {
	display: flex;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.value {
	border: none;
	background: #f1f1f1;
	border-radius: 4px;
	width: 32px;
	height: 24px;
	text-align: center;
}
