.header {
	padding: 25px 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo, a.logo {
	color: #000;
	font-size: 40px;
	font-weight: 700;
	text-decoration: none;
}

.cart {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;

	border: none;
	border-radius: 12px;
	background: none;
	cursor: pointer;

	font-size: 16px;
	color: #000;

	transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.cart__count {
	background-color: #c62323;
	color: #fff;
	border-radius: 80px;
	padding: 4px;

	width: 20px;
	height: 20px;

	font-size: 12px;
	font-weight: 600;
	line-height: 1;
}
