.wrapper {
	margin-top: 100px;
}

.info {
	max-width: 400px;

	padding: 20px;
	margin: 20px auto 40px;

	border-radius: 20px;
	background-color: #ddeff5;
	text-align: center;
}

.title {
	font-size: 25px;
}
